@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about developing and deploying Web apps with ASP.NET Core at Pluralsight.com!</a>.</p>
</div>
